.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
.center-text{
  text-align: center;
}
.testimonials h2{
  font-size: 30px;
  font-weight: bold;
}

.slider {
  max-width: 800px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the slider horizontally */
}

@media (max-width:500px ){
  .slider {
    max-width:  100%; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the slider horizontally */
  }
}


